body{
  background: #f2fef9;
}

.item {
  border-width: 1px;
  border-style: solid;
  border-color: black;
	padding: 10px;
}

img {
	max-width: 420px;
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#container {
	width: 95%;
	margin: 70px auto;
	display: grid;
	grid-template-areas: "item item item";
}

#container a:link, a:visited {
	text-decoration: none;
	color: #0000ff;
}

#container a:hover {
	text-decoration: underline; 
	color: #006c80;
}

#container a:active {
	text-decoration: none;
}

@media (max-width: 666px) {
	#container {
		width: 95%;
		margin: 70px auto;
		display: grid;
		grid-template-areas: "item item";
	}
}

@media (max-width: 447px) {
	#container {
		width: 95%;
		margin: 70px auto;
		display: grid;
		grid-template-areas: "item";
	}
}
